body {
  background-color: rgb(255, 206, 206);
  margin: 0;
  font-family: sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

header,
footer {
  background-color: rgb(227, 197, 255);
}

main {
  min-height: calc(100vh - 160px);
}

img {
  max-width: 100%;
  margin: 30px auto;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}
